# Base de datos externa - VM-03-Ubuntu-BD
DB_HOST=IP_VM03
DB_PORT=3306
DB_NAME=espocrm
DB_USER=espocrm_user
DB_PASSWORD=CAMBIAR_LOCALMENTE

# Administrador de EspoCRM
ESPOCRM_ADMIN_USERNAME=admin
ESPOCRM_ADMIN_PASSWORD=CAMBIAR_LOCALMENTE

# URL de EspoCRM en VM-01-CRM-UBUN
ESPOCRM_SITE_URL=http://IP_VM01:8080
